<div id="bar">
    <div id="barinner">
        <a class="btn home" title="Back to the homepage" href="/">Home</a>
        <a class="btn lib" title="Library index across games" href="/view/3ds_libs.html">Libraries</a>
        <a class="btn docs" title="Docs and further information" href="/page/docs.html">Docs</a>
        <a class="btn about" title="About Us" href="/page/about.html">About</a>
        <a class="btn round" title="See the work on github" href="https://github.com/ctrdecomp/">GH</a>
    </div>
</div>
